<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/plant.css">
    <title>GreenMeUp Plants </title>
</head>
<body>
    <header>
        <nav>
            <div class="home">
                <a href ="/api/client/home" >
                    <img class = "logo" src="/ressources/logo.png" alt="logo"></img>
                </a>
            </div>
            <div class="shop">
                <a href ="/api/client/cart" >
                    <img class = "cart" src="/ressources/Cart.png" alt="cart"></img>
                </a>
            </div>

            <div class="profile">
                <a href = "/api/client/Profile">
                    <img class = "account" src="/ressources/Account.png" alt="account"></img>
                </a>
            </div>
        </div>
        </nav>

    </header>
    <div id="app">
        <section class="plant">
            <div class="view-container">
                <div class="mini-view-container">
                    <div class="mini-view" @mouseover="updateVariant(1)">
                        <img v-bind:src="path + image + '.1.png'"></img>
                    </div>
                    <div class="mini-view" @mouseover="updateVariant(2)">
                        <img v-bind:src="path + image + '.2.png'"></img>
                    </div>
                    <div class="mini-view" @mouseover="updateVariant(3)">
                        <img v-bind:src="path + image + '.3.png'"></img>
                    </div>
                </div>
                <div class="view">
                    <img v-bind:src="path + image + '.' + selectedVariant + '.png'"></img>
                </div>
            </div>
            <div class="infos-container">
                <div class="infos">
                    <div class="title">
                        <p class="plant-name"><%- plant.name %></p>
                        <p class="plant-price">$<%- plant.price.toFixed(2) %></p>
                    </div>
                    <div class="description">
                        <p><%= plant.description %></p>
                    </div>
                    <div class="delivery">
                        <div class="method">
                            <div class="method-header">
                                <img src="/ressources/Store.png"></img>
                                <p>Store pick-up</p>
                            </div>
                            <div class="method-desc">
                                <p>Available within 1 - 2 Days <br> FREE</p>
                            </div>
                        </div>
                        <p>or</p>
                        <div class="method">
                            <div class="method-header">
                                <img src="/ressources/deliver.png"></img>
                                <p>Store pick-up</p>
                            </div>
                            <div class="method-desc">
                                <p>Available within 1 - 5 Days <br> $3.99</p>
                            </div>
                        </div>
                    </div>
                    <div class="cart">
                        <div class="quantity">
                            <div class="quantity-display">
                                <p>Quantity</p>
                                <p class="stock" v-if="stock > 0"><i>{{stock}} in stock</i></p>
                                <p class="stock" v-else="stock = 0"><i>Sold out</i></p>
                            </div>
                            <div class="quantity-controller">
                                <div class="btn-minus" v-on:click="removeFromCart">
                                    -
                                </div>
                                <div class="desired-quantity">
                                    {{qty}}
                                </div>
                                <div class="btn-plus" v-on:click="addToCart">
                                    +
                                </div>
                            </div>
                        </div>
                        <div class="bag" v-on:click="bag">
                            <p>ADD TO BAG</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
          }
        }
      </script>

      <script type="module">
        import { createApp } from 'vue'
    
        createApp({
        data() {
            return {
                path: "/ressources/miniPlantViews/",
                image: "img"+"<%= plant.idplants %>",
                selectedVariant: 1,
                qty: 0,
                stock: "<%= plant.stock %>"
            }
          },
        methods: {
            updateVariant(index){
                this.selectedVariant = index
            },removeFromCart(){
                if(this.qty > 0){
                    this.qty -= 1
                }
            },addToCart(){
                if(this.qty < this.stock){
                    this.qty += 1
                }
            },
            bag(){
                const request = {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify({
                        idplants: "<%= plant.idplants%>",
                        price: "<%= plant.price.toFixed(2) %>",
                        name: "<%= plant.name %>",
                        user: "<%= client.mail %>",
                        qty: this.qty
                    })
                }
                fetch("http://localhost:1010/api/client/cart", request)
            }
        },
        }).mount('#app')
      </script>
</body>
</html>